header {
    width: 940px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
    background: rgba(50, 60, 50, 0.9);
    /*background: #485247;*/
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 85% 40%;
    background-size: 30%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    width: 150px;
    height: auto;
    margin: 0;
    padding: 25px 0 0 60px;
    color: #fff;
    font-size: 20px;
}

.zagmsd {
    color: #d1af1f;
}

.zaggames {
    color: #dedede;
}

.zagru {
    font-size: 22px;
    margin: 0 0 0 1px;
    color: #fff;
    background: #ff0000;
    border: 2px solid #fff;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.msdp {
    color: #ffffff;
    font-size: 9px;
    margin: -3px 0 0 42px;
    padding: 0;
}