input {
    width: 100px;
    height: 9px;
    float: right;
    background: #5c675b;
    color: #fff;
    
}

label {
    
}

button {
    color: #fff;
    background: #5c675b;
}

button:hover {
    color: #d1af1f;
    background: #485247;
}