navi {
    display: inline-block;
    width: 940px;
    height: 27px;
    background: #5c675b;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    padding: 3px 10px 3px 10px;
    border-right: 1px solid #727771;
}

a {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    padding: 9px 10px 5px 10px;
    text-shadow: 1px 0px #000;
}

a:hover {
    color: #d1af1f;
    background: rgba(50, 60, 50, 0.4);
    padding: 9px 10px 5px 10px;
    border-bottom: 2px solid #d1af1f;
}

.glavnaja {
    color: #d1af1f;
    background: rgba(50, 60, 50, 0.4);
    padding: 9px 10px 5px 10px;
    border-bottom: 2px solid #727771;
}
